#about-us {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 70px auto 50px;
  grid-template-columns: 1.5fr 3.5fr 1.5fr;
  background-color: #f7f8f8;
}

#about-title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
}

p {
  margin: 0 5%;
  color: #767676;
  line-height: 1.5;
  font-family: 'EB Garamond', serif;
  font-size: 17px;
}

#line {
  margin: 20px 20%;
  border-bottom: 1px solid #DBDBDB;
}