#price-list {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 50px 10% auto 10%; 
  background-color: #f7f8f8;
}

body {
  font-family: 'Poiret One', cursive;
  font-size: 15px;
}

h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: #484848;
  font-size: 3em;
  text-align: center;
}

.divider {
  width: 80%;
  margin: 25px auto
}

.title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
}

#price {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border-top: 1px solid #DBDBDB;
}

.items {
  display: grid;
  grid-template-columns: 4fr 0.5fr;
  grid-template-rows: 0.3fr 2fr 0.3fr;
}

.item {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.price {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
}

.categories {
  margin-top: 30px;
}